@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

*{
  margin: o;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-family: 'Rubik', sans-serif;
  color: rgb(37, 55, 46);
}
.navBar{
  padding:20px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  max-width:80%;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}
.navBar h2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 1000;
  color: rgb(255, 6, 126);
}
.links{
  display: flex;
 
}
.links a{
  font-weight: bolder;
  text-decoration: none;
  color: rgb(37, 55, 46);
  padding: 5px;
  transition: background .5s, color .5s ease;
}
.links a:hover{
  color: rgb(255, 6, 126);
  text-decoration: underline;
  
 
}
.links ul li{
  list-style: none;
  display: inline;
  
}
.us{
  color: rgb(248, 247, 247);
  background-color: rgb(255, 6, 126);
  padding:5px 10px;
  border-radius: 5px;
  font-weight: bolder;
  transition: background .5s, color .5s ease;
  border:none;
  font-size: inherit;
  margin-left:5px;
}
.us:hover{
  color: rgb(255, 6, 126);
  background-color: white;
  border: solid 1px rgb(255, 6, 126);
}
.Home{
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));
  gap:2rem;
  padding:20px;
  min-height: 100vh;
  justify-content: center;
  margin-top: 2rem;
}
.cake{
  height: 200px;
  width:100%;
  object-fit: cover;
}
.card{
  overflow: hidden;
  box-shadow: 0 2px 20px #ccc;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor:pointer;
  transition: transform .2s;
}
.card p{
  padding: 1rem;
}
.card h2{
  padding: 1rem;
}
.card button{
  padding: 1rem;
  font-family: inherit;
  font-weight:bold ;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid rgb(255, 6, 126);
  color:rgb(255, 6, 126);
  transition: background .2s ease-in, color .2s ease-in;
  width: 87%;
}
.card:hover{
  transform: scale(1.03);
}
.card button:hover{
  background: rgb(255, 6, 126);
  color:white;
}
.sdhus{
  text-align: center;
}
@media only screen and ( max-width: 740px){
  .navBar{
   max-width: 100%;
  }

}

@media only screen and ( max-width: 620px){
  .navBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin:0;
    box-shadow: 0 2px 5px grey;}
  .links, .links ul li{
    display: block;
  }
  .links ul li{
    padding: 10px;
    text-align: center;
    left:-20px;

  }
  .links{
    background-color: #ccc;
    width:100%;
    margin:0;
    padding:20px;
  }
  .us{
    padding: 10px;
  }
}